[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ariadne = "*"
requests = "*"
beautifulsoup4 = "*"
flask = "*"
pylint = "*"
python-dotenv = "*"
psycopg2 = "*"
sqlalchemy = "*"
lxml = "*"

[requires]
python_version = "3.7"
